@model CA3MVC.Models.ZooAnimal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZooAnimal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZooId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZooId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabitatInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabitatInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialCareRequirements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialCareRequirements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConservationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConservationStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
