@model IEnumerable<CA3MVC.Models.ZooAnimal>

@{
    ViewData["Title"] = "Animal List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Zoo Animals</a>
</p>
<div class="container py-2 px-2">


        <div class="row">
            <div class="col">
           <div class="table-responsive">    
                <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZooId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabitatInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialCareRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConservationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZooId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               <img src="@item.ImageUrl"  alt="Image" class="img-fluid rounded-circle" style="max-width:155px; max-height:150px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialCareRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConservationStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
    </div>
        </div>
    </div>

